{% extends "testbootstrap.html" %}

{% block body %}
<link href="https://fonts.googleapis.com/css?family=EB+Garamond|PT+Sans:400,400i,700,700i&subset=latin-ext" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='styles/submit.css')}}">

<!--<link href="https://fonts.googleapis.com/css?family=EB+Garamond|PT+Sans:400,400i,700,700i&subset=latin-ext" rel="stylesheet">-->
<!-- Use any element to open the sidenav-->
<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->

<h1 class="header">Delete an update</h1>

<form action="/delete2" method="post" class="group">
    <select class="dropdown" name="group">
        <option value="announcement">Announcements</option>
        <option value="competition">Competitions</option>
        <option value="totw">Thought of the week</option>
    </select>
    <br>
    <input class="submit" type="submit" value="Submit">
</form>

{% endblock %}
