{% extends "testbootstrap.html" %}

{% block body %}

<link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='styles/announcements.css')}}">
<h1 class="header">Here are some links to other school websites:</h1>
<!--
<table id="t01a" class="center">
  <tr>
    <th>Websites</th>
  </tr>
  <tr>
    <td><a href="https://dunmanhigh.moe.edu.sg/">School Website</a></td>
  </tr>
  <tr>
    <td><a href="https://dhis.dhs.sg/">DHIS</a></td>
  </tr>
  <tr>
    <td><a href="https://vle.learning.moe.edu.sg/login">SLS</a></td>
  </tr>
</table>
-->
<form action="https://dunmanhigh.moe.edu.sg/">
    <div style="text-align:center;">
      <button type="submit" name="id" value="DHS website" class="box">
        <h1 class="box-title">
            Dunman High Website
        </h1>   
      </button>
    </div>
</form>
<form action="https://dhis.dhs.sg/">
    <div style="text-align:center;">
      <button type="submit" name="id" value="DHIS" class="box">
        <h1 class="box-title">
            DHIS
        </h1>   
      </button>
    </div>
</form>
<form action="https://vle.learning.moe.edu.sg/login">
    <div style="text-align:center;">
      <button type="submit" name="id" value="SLS" class="box">
        <h1 class="box-title">
            Student Learning Space
        </h1>   
      </button>
    </div>
</form>
{% endblock %}