{% extends "testbootstrap.html" %}

{% block body %}

<link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">

<head> 
  <meta content="width=device-width, initial-scale=1" name="viewport" />
</head>

<div class='container' id = "secret">
    <br>
    <h3>Announcements</h3>
    <table id="t01a">
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Involved</th>
            <th>Updater</th>
        </tr>

        {% for announcement in announcements %}
        <tr>
            <td>          
            {% if announcement[1]|length > 20 %}
                {{ announcement[1][0:20] }} ...
            {% else %}
                {{ announcement[1] }}
            {% endif %}
            </td>
            <td>{{ announcement[2] }}</td>
            <td>{{ announcement[3] }}</td>
            <td>{{ announcement[5] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <h3>Competitions</h3>
    <table id="t01a">
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Involved</th>
            <th>Updater</th>
        </tr>

        {% for competition in competitions %}
        <tr>
            <td>          
            {% if competition[1]|length > 20 %}
                {{ competition[1][0:20] }} ...
            {% else %}
                {{ competition[1] }}
            {% endif %}
            </td>
            <td>{{ competition[2] }}</td>
            <td>{{ competition[3] }}</td>
            <td>{{ competition[5] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <h3>Flagraising</h3>

    <table id="t01a">
        <tr>
            <th>Most recent updater</th>
        </tr>

        <tr>
            <td>{{ flagraising[8] }}</td>
        </tr>
    </table>
    <br>
    <h3>Thought of the week</h3>

    <table id="t01a">
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Presenter</th>
            <th>Updater</th>
        </tr>

        {% for tot in totw %}
        <tr>
            <td>          
            {% if tot[1]|length > 20 %}
                {{ tot[1][0:20] }} ...
            {% else %}
                {{ tot[1] }}
            {% endif %}
            </td>
            <td>{{ tot[2] }}</td>
            <td>{{ tot[4] }}</td>
            <td>{{ tot[5] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}